

<div class="container-md">

<div class="row align-items-start">
<% user.shelves.each do |shelf| %>
   <div class="col-head">
   <div class="shelf-title">
   <p><%= link_to shelf.name, shelf_path(shelf)%></p>


   </div>
         <% shelf.books.each do |book|%>
            <%= render partial: "books/book", locals: {book: book}%>
         <% end %>
   </div>
<% end %>
</div>
</div>


