<% if !@books.nil?%>
<ul>
    <% @books.each do |book| %>
        <%= link_to book.title, book_path(slug(book.title)) %>
        <li><img src="<%=book.image_link%>" > <%=book.title%> - <%= book.authors %> </li>
    <% end %>
</ul>
<% end %>