.col-sm {
    color: pink;
}

.shelf-title {
    border-radius: 25px;
    padding: 20px;
}

.user-flex {
    display: flex;
    flex-flow: row wrap;
}

.notice {
    color: rgb(100, 117, 186);
}

.container {
    padding: 15px;
}